﻿<template>
    <section>
         <h2>${heading}</h2>
    <div class="col-sm-6 col-md-3 card-container">
    <form>
        <p>Image Url: <input type="text" value.bind="plant.imageUrl" /></p>
        <p>Common Name: <input type="text" value.bind="plant.commonName" /></p>
        <p>Family: <input type="text" value.bind="plant.family" /></p>
        <p>Genus: <input type="text" value.bind="plant.genus" /></p>

        <button click.trigger="add()">Add Plant</button>
    </form>
    </div>
    </section>
</template>