﻿<template>
    <section>
        <h2>${heading}</h2>
        <div class="row au-stagger">
            <div class="col-sm-6 col-md-3 card-container" repeat.for="plant of plants">
                <div class="card">
                    <canvas class="header-bg" width="250" height="70"></canvas>
                    <div class="avatar">
                        <img src.bind="plant.imageUrl" crossorigin />
                    </div>
                    <div class="content">
                        <p class="name">"${plant.commonName}"</p>
                        <p class="family">${plant.family}</p>
                        <p class="genus">${plant.genus}</p>
                        <p><a class="btn btn-default" route-href="route: edit;
                              params.bind: {id:plant.id}">Edit</a></p>
                        <p><a class="btn btn-default" click.trigger="delete(plant.id)">Delete</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
